{% extends 'base.html' %}
{% load static %}
{% block myimg %}
  <img src="{% static 'home/img/unnamed.jpg' %} " alt="my pic">
  <link rel="stylesheet" href="{% static 'home/css/aboutme.css' %}">
  <p>
    hi guys; my name is Yegumi; not my official name but I'd rather be called by that. it's somehow my very first experience in django;
    right after my final exams finished in university i started to learn django. I'm so ashamed to say I'm very ponderous in learning staff;but
    I really was fliping out, wandering around with no purpose and no serious skill; I tried my best all summer to learn sth and I have so much to do
    this Tut is probably gonna last longer than I expected cause it's like 2 or 3 hours (since 7:15 am today) that I'm watching a 14 min session;
    I watched tut onetime then try to do it by myself amd ofc i waste so much time by this method but I'm reaaly hopefull that I will learn things better
    this way;so excuse me if i just rant alot but sometimes i think i have to talk otherwise everything is going to cascade around me. when i started sth i could
    not see myself in future of it but rn i feel so contend about what I'm seizing. goodluck everybody someday i will organize a reall website and have real users.
    i wanna be sth. just sth . i wanna rely on myself in future. i yearn it so bad.. God hear me out
  </p>
{% endblock %}