{% extends 'base.html'%}
{% block content %}
<form action="" method="post" novalidate>
    <h2>{{product.name}}</h2>
    {% csrf_token %}
    <small>{{product.created }}</small>
    <br>
    <img src="{{product.image.url }}" alt="{{product.name}}" style="width:300px;">
    <br>
    {{product.price}}
    <br>
    {{product.description|safe}}
    <input type="submit" value="go back">
</form>
{%if perms.home.add_order %}
<form action="{% url 'orders:add_cart' product.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="add to cart ">
</form>
{%endif %}



{% endblock %}