.register:{display: flex;
 justify-content: center;
  align-items: center;
}

form {
    background-color: #ffffff; /* White background */
    width: 70%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width */
    margin: 0 auto; /* Center the form */
    padding: 20px;
    margin-top: 10px;
    border: 8px double #cccccc; /* Silver border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#bg {
    color: #333333; /* Dark gray text */
    background-color: #e0e0e0; /* Silver background */
    margin: 0 auto; /* Center the form */
    height: 100%;
}

form input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333; /* Dark gray background */
    color: #ffffff; /* White text */
    border: none; /* Remove border */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

form input[type="submit"]:hover {
    background-color: #555555; /* Slightly lighter dark gray on hover */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('{% static "my_app/images/background.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
}
