{% extends 'base.html' %}

{%block content %}
<table class="table table-dark table-striped-columns">
   <thead>
    <tr>
      <th scope="col">row</th>
      <th scope="col">product</th>
      <th scope="col">quantity</th>
      <th scope="col">unit price</th>
      <th scope="col">total price</th>
      <th scope="col">remove</th>

    </tr>
  </thead>
  <tbody>
{% for item in items %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td>
            <a href="{% url 'orders:remove_cart' item.product.id %}">remove</a>
        </td>
    </tr>
{% endfor %}
  <tr >
    <td colspan="3">Total</td>
      <td colspan="3">{{total_cost}}</td>
  </tr>



  </tbody>
</table>
{% endblock%}