{% extends 'base.html' %}

{%block content %}
<table class="table table-dark table-striped-columns">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">product</th>
      <th scope="col">quantity</th>
      <th scope="col">unit price</th>
      <th scope="col">total price</th>

    </tr>
  </thead>
  <tbody>
  {% for product in cart %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{product.product}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
      <td>{{product.total_price}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock%}